:root {
    --delay: 500;
    --timing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;

    background-image: url(/assets/bckgr.jpg);
}

.card {
    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: .5rem 2rem;
    border-radius: 2rem;

    gap: 1rem;
}

.card__image {
    border-radius: 50%;
    object-fit: cover;
}

.card__name {
    font-size: 1rem;
    margin-bottom: .7rem;

    position: relative;
}

.card__name::after{
    position: absolute;

    right: 0%;
    bottom: 0;

    content: 'now';

    width: fit-content;
    height: 1rem;

    color: rgb(105, 105, 105);

    font-size: .7rem;
    font-weight: 300;
}

.card__message {
    margin-top: 0;
    max-width: 230px;
    line-height: 1.5;
}

.card.visible {
    display: flex;
    animation: card-anim 400ms var(--timing) forwards;
}

.final-screen {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgb(255, 246, 232);

    display: none;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 3rem;

    transform-origin: top;
}

.final-screen.visible {
    display: flex;
    animation: screen-anim 600ms var(--timing) forwards;
}

@keyframes card-anim {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes screen-anim {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@media (max-width: 500px) {
    .final-screen {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px){
    .card {
        max-width: 350px;
    }
}